@charset "UTF-8";
/* 
Author: Ewan Baxter
Date: April 16th, 2022
*/
@import url("reset.css");
@import url("base.css");


table {
    border: solid black 1px;
    margin: auto;
    text-align: center;
    width: 70%;
}

th {
    background-color: #f0f0f0;
    border: solid black 1px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1rem;
    width: 50%;
}

td {
    border: solid black 1px;
    padding: 1rem;
}